<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>{{pageTitle}}</title>
    </head>
    <body>
    {{> pageTitle}}
    <p>Noe tekst her</p>
    {{> footer}}
    </body>
</html>